<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>Criado com
        <i class="material-icons copyright-icon">favorite</i>
        por Rivelino Junior
      </b>
    </div>
  </div>
</div>