<div id="remove-campaign-modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <%= form_for @campaign, method: 'delete', html: {class: 'remove_campaign'} do |f|  %>
        <div class="row">
          <div class="col s12">
            <h4>Remover essa Campanha</h4>
            <p>Tem certeza que deseja remover a campanha ?</p>
          </div>
          <div class="input-field col s12">
            <button type='submit' class="waves-effect waves-light btn red">Remover</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>